.button-container {
  display: flex;
  justify-content: space-between;
  margin: 300px;
  padding: 100px;
}

.game-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: white;
}

.game-btn img {
  width: 80px;
  height: auto;
}

.game-btn span {
  margin-top: 20px;
  font-size: 40px;
  color: black;
  text-align: center;
}
